<div class="container">
    <div class="card" style="width: 20rem;">
        <img src={{viewCat.url}} class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title" *ngIf="viewCat.breeds"> {{viewCat.breeds[0].name}}</h5>
        <p class="card-text" *ngIf="viewCat.breeds">{{viewCat.breeds[0].description}}</p>
        
        <p class="card-text" *ngIf="viewCat.breeds">Origen: {{viewCat.breeds[0].origin}}</p>
        <p class="card-text" *ngIf="viewCat.breeds">Dog Friendly: {{viewCat.breeds[0].dog_friendly}}</p>
        <p class="card-text" *ngIf="viewCat.breeds">Temperamento: {{viewCat.breeds[0].temperament}}</p>
        <p class="card-text" *ngIf="viewCat.categories">Categoria: {{viewCat.categories[0].name}}</p>
        </div>
    </div>
</div>

