<form [formGroup]='checkoutForm' (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-12">
                <label>Numero:</label>
                <input type="text" class="form-control col" id='' name='numero' formControlName="numero">
                <div *ngIf="checkoutForm.get('numero')?.touched && checkoutForm.get('numero')?.errors?.['required']" class="alert alert-danger">Este campo es requerido</div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <label>Origen:</label>
                <select class="form-select" aria-label="Default select example" formControlName="origin">
                    <option selected value="">Seleccione alguna</option>
                    <option *ngFor="let origin of origins" value={{origin.id}} >{{origin.origin}}</option>
                </select>
            </div>
            <div class="col-lg-3 col-sm-12">
                <label>Name:</label>
                <select class="form-select" aria-label="Default select example" formControlName="name">
                    <option selected value="">Seleccione alguna</option>
                    <option *ngFor="let name of names" value={{name.name}} >{{name.name}}</option>
                </select>
            </div>
            <div class="col-lg-3 col-sm-12">
                <label>Catgorias:</label>
                <select class="form-select" aria-label="Default select example" formControlName="categoria">
                    <option selected value="">Seleccione alguna</option>
                    <option *ngFor="let categoria of categorias" value={{categoria.id}} >{{categoria.name}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button class="button btn btn-secondary" type="submit" [disabled]="checkoutForm.invalid">Guardar</button>
            </div>
        </div>
    </div>
</form>

<br><br><br>
<div class="container">
    <div class="row">
        <div *ngFor="let registro of listadoImagenes; let i = index"  class="col-md-4 col-sm-6 col-lg-3 gallery-container-{{i}}">
            <div class="gallery__item-{{i}}">
                <img class="gallery__img-{{i}}" src={{registro.url}} (click)="verImages(registro.id)" />
            </div>
            
        </div>
     </div>
</div>

<div class="container">
    <div class="row itemsBlock">
        <div *ngFor="let data of dataFilter; let i = index" class="col-md-4 col-sm-6 col-lg-4 gallery-container">
            <div class="gallery__item">
                <img class="gallery__img" src={{data.url}}  (click)="verImages(data.id)"/>
            </div>
        </div>
     </div>
</div>

