.gallery-container{
    /* display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-auto-rows: 250px;
    padding: 0;
    grid-gap: 0; */
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(2, 250px); */
}
.gallery__img{
    height: 100%;
    object-fit: cover;
}

img.gallery__img-0,
img.gallery__img-2,
img.gallery__img-4,
img.gallery__img-6,
img.gallery__img-8,
img.gallery__img-10,
img.gallery__img-12,
img.gallery__img-14,
img.gallery__img-16,
img.gallery__img-18,
img.gallery__img-20 {
    width: 288px;
    height: 250px;
    grid-template-rows: repeat(1, 250px);
}

img.gallery__img-1,
img.gallery__img-3,
img.gallery__img-5,
img.gallery__img-7,
img.gallery__img-9,
img.gallery__img-11,
img.gallery__img-13,
img.gallery__img-15,
img.gallery__img-17,
img.gallery__img-19,
img.gallery__img-21 {
    width: 288px;
    height: 500px;
    grid-template-rows: repeat(2, 250px);
}

.gallery__item-0{
    grid-row-start: span 1 ;
    grid-column-start: span 1 ;
    grid-template-rows: repeat(1, 250px);

}

.gallery__item-1{
    grid-row-start: span 2;
    grid-column-start: span 1 ;

} 

.gallery__item-2{
    grid-row-start: span 1;
    grid-column-start: span 1;
}

.gallery__item-3{
    grid-row-start: span 2 ;
    grid-column-start: span 1  ;
}

.gallery__item-4{
    grid-row-start: span 2!important;
    grid-column-start: span 1 !important;
}


.gallery__item-5{
    grid-row-start: span 2!important;
    grid-column-start: span 1 !important;
}

.gallery__item-7{
    grid-row-start: span 2!important;
    grid-column-start: span 1 !important;
}

.gallery__item-0,
.gallery__item-2 {
    width: 250px;
    height: 250px;
}

.gallery__item-1,
.gallery__item-3 {
    height: 500px;
    width: 250px;
}
